<section class="container">
    <form [formGroup]="form">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <h4 class="card-title">Clinic approval form</h4>
                <h5 class="card-subtitle">Organisation details</h5>


                <div class="table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">S.no</th>
                                <th class="text-dark font-medium fs-4">Title</th>
                                <th class="text-dark font-medium fs-4">Information</th>
                                <th class="text-dark font-medium fs-4">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor='let ts of user_data'>
                            <tr>
                                <td>1</td>
                                <td>
                                    <h4 class="card-title">Clinic Name</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.clinicName}}</h5>
                                </td>
                                <td>
                                    <input formControlName="name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['name'].errors }" type="checkbox"
                                        value="0">
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>2</td>
                                <td>
                                    <h4 class="card-title">Image</h4>
                                </td>
                                <td><img src="{{ts.image}}" alt="" style="height:60px ;"></td>
                                <td>
                                    <input type="checkbox" formControlName="image" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['image'].errors }" value="">
                                </td>
                            </tr> -->
                            <tr>
                                <td>2</td>
                                <td>
                                    <h4 class="card-title">Email</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.email}}</h5>
                                </td>
                                <td>
                                    <input formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['email'].errors }"
                                        type="checkbox" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <h4 class="card-title">Address</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.address}}</h5>
                                    <!-- <h5 class="card-subtitle text-muted mt-1">{{ts.city}}</h5>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.state}}</h5> -->
                                </td>
                                <td>
                                    <input type="checkbox" formControlName="address" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['address'].errors }" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <h4 class="card-title">Phone number</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.phonenumber}}</h5>
                                </td>
                                <td>
                                    <input type="checkbox" formControlName="phonenumber" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['phonenumber'].errors }"
                                        value="">
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>5</td>
                                <td>
                                    <h4 class="card-title">Bank account number</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.bankacnumber}}</h5>
                                </td>
                                <td>
                                    <input type="checkbox" formControlName="bankacnumber" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['bankacnumber'].errors }"
                                        value="">
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    <h4 class="card-title">IFSC number</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.ifsc}}</h5>
                                </td>
                                <td>
                                    <input type="checkbox" formControlName="ifsc" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['ifsc'].errors }" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    <h4 class="card-title">Bank branch</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.bankbranch}}</h5>
                                </td>
                                <td>
                                    <input type="checkbox" formControlName="bankbranch" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['bankbranch'].errors }" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>
                                    <h4 class="card-title">GST number</h4>
                                </td>
                                <td>
                                    <h5 class="card-subtitle text-muted mt-1">{{ts.gst}}</h5>
                                </td>
                                <td>
                                    <input type="checkbox" formControlName="gst" class="form-control"
                                        [ngClass]="{ 'is-invalid': submiiterdform && f['gst'].errors }" value="">
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-end gap-2 p-4">
                    <button class="right-button" (click)="onSubmit()">Approve</button>
                    <button data-bs-toggle="modal" data-bs-target="#modalid">Reject</button>
                </div>
            </div>


        </div>
    </form>



    <div class="modal fade" id="modalid">
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reason for rejection</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="reject_form">
                    <div class="modal-body">
                        <input type="text" formControlName="description" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && r['description'].errors }"
                            placeholder="Description" />
                        <div *ngIf=" submitted && r['description'].errors" class="invalid-feedback">
                            <div *ngIf="r['description'].errors && r['description'].errors['required']">
                                Description is required</div>
                            <div *ngIf="r['description'].errors && r['description'].errors['minlength']">
                                Should contain atleast 10 charectors</div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button (click)="Reject()" data-bs-dismiss="modal"
                            [routerLink]="['/userapproval/pendingusers']">OK</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>